* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5% !important;
    /* 10÷16=62.5% */
    width:100%;
    height:100%;
    overflow: hidden;
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 94% !important;
        /* 15.04÷16=94% */
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 109% !important;
        /* 17.44÷16=109% */
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 125% !important;
        /* 20÷16=125% */
    }
}
body {
    width:100%;
    height:100%;
}

#root{
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding:8px 8px;
}
.App{
    width:100%;
    height:100%;
    /* border: 3px solid #ccc;
    box-sizing: border-box; */
}

.title{
    height:30px;
    width:100%;
    position: relative;
    background-color: rgb(244, 244, 244);
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-weight: bold;
    box-sizing: border-box;
    text-indent:10px;
    color:#000;
    font-size: 0.8rem;
    line-height: 30px;
    text-align: left;
}
.title input{
    height:20px;
    float:right;
    margin:5px;
    padding: 0 5px;
    cursor: pointer;
}
.content{
    height:calc(100% - 30px);
    width:100%;
    padding:3px 5px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.controlView{
    width:23%;
    height:100%;
    float:left;
    /* border: 3px solid #ccc;
    box-sizing: border-box; */
}
.right{
    width:77%;
    height:100%;
    float:left;
}
.controlPanel{
    width:100%;
    height:30%;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
    /* margin-bottom: 5px; */
}
.filter{
    width:100%;
    height:30%;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
    /* margin-bottom: 5px; */
    
}
.drawPanel{
    width:100%;
    height:40%;
    /* border: 3px solid #ccc; */
    padding: 3px 3px;
    box-sizing: border-box;
}
.nodelistView{
    width:100%;
    height:auto;
    margin-top: 10px;
}
.searchView{
    width:100%;
    height:auto;
}
.search{
    width:100%;
    height:auto;
    margin-bottom: 10px;
}
.nodeList{
    width:100%;
    height:150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.nodeList li{
    list-style: none;
    font-size: 1rem;
    text-align: left;
    width:100%;
    height:auto;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
}
.nodeList li:nth-of-type(1){
    margin-top: 10px;
}
.nodeList li:last-child{
    border-bottom: 1px solid #ccc;
}

.infoView{
    width:50%;
    height:50%;
    float:left;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
}
.info{
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.infoBox{
    float:left;
    width: 100%;
    height:100%;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    position: relative;
}
.infoBox input{
    position: absolute;
    left:0;
    top:40px;
}
.infoName::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
.scatterView{
    width:50%;
    height:50%;
    float:left;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
}
.scatter{
    width:100%;
    height:100%;
    position: relative;
}
.parallelView{
    width:50%;
    height:50%;
    float:left;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
}
.parallel{
    width:100%;
    height:100%;
    position: relative;
}
.forceComputeView{
    height:50%;
    width:50%;
    float: left;
    /* border: 3px solid #ccc; */
    box-sizing: border-box;
    padding: 3px 3px;
}
.forceCompute{
    height:100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.forceBox{
    float:left;
    width: 50%;
    height:50%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.table{
    height:100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
table,table th, table tr td {
    font-size: 0.7rem; 
    border:1px solid #0094ff; 
}

.tools{
    height:36px;
    width:100%;
    border:1px solid #ccc;
    padding:2px 2px;
    box-sizing: border-box;
}
.btnGroup{
    width:auto;
    height:100%;
    border:1px solid #3072ad;
    background-color: white;
    padding:2px 5px;
    border-radius:4px;
    margin-right:5px;
    cursor: pointer;
}
.btnNode{
    width:45px;
    background-image: url('./assets/node.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.btnLine{
    width:45px;
    background-image: url('./assets/line.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.btnRedo{
    width:45px;
    background-image: url('./assets/redo.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.btnUndo{
    width:45px;
    background-image: url('./assets/undo.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.btnSearch{
    width:45px;
    background-image: url('./assets/search.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.model{
    height:80px;
    width: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border:1px solid #ccc;
    padding:2px 2px;
    overflow-x: auto;
}
.model .modelGraph{
    height:100%;
    width:32%;
    float:left;
    cursor: pointer;
    box-sizing: border-box;
    border:1px solid #3072ad;
    margin-right: 2px;
}
.panel{
    height:calc(100% - 116px);
    box-sizing: border-box;
    position: relative;
    /* border:1px solid #ccc; */
}
.distributeAttr{
    width:100%;
    height:100%;
    position: relative;
}
.attrSliderBox{
    height:100%;
    width:100%;
}